body {
    font-family: "Lato", sans-serif;
}
.wrapper{
 
    border: 0.5rem solid white;
}
.cont{
    background-image: linear-gradient(to right, #5c60f5, #655ff7, #6d5df9, #765cfb, #7e5afd, #b64bee, #e038db, #ff22c4, #ff278e, #ff5d5c, #ff902e, #ffbb00);
    border-radius: 1rem 1rem 0 0;
    border-bottom: 0.5rem solid white;
}
.cont .menu{
    background-color: #15152e;
    color: white;
    border-radius: 40px;
    margin-top: 0.75rem;
    margin-bottom: 3rem;
}
.menu .navbar .navbar-brand {
    margin-right: 4rem;
    margin: 0rem;
}

.menu .navbar .navbar-brand img {
    width: 8rem;
    margin-right: 10rem;
}

.menu .navbar .navside .side {
    display: inline-block;
    margin-right: 1rem;

}
.menu .navbar .navside .side:nth-child(even){
    background-color: white;
    padding: 0.5rem;
    border-radius: 40px;
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    color: black;
}
.menu .navbar .navside .side:hover:nth-child(even){
    background-color: #6d5df9;
    padding: 0.5rem;
    border-radius: 40px;
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: white;
}
.menu .nav-item .nav-link{
    color: white;
}

/* Small devices (landscape phones, 576px and lower) */
@media (max-width: 576px) {  
    .menu .navbar .navbar-brand img {
        width: 6rem;
        margin-right: 5rem;
    }
    .menu .navbar .navbar-brand {
        margin-right: 1rem;
    }
    
    .con .navbar .navbar-brand img {
        width: 9rem;
    }
}
@media (max-width: 768px) {  
    .menu .navbar .navside .side:first-child {
        display: none;
    
    }
    .menu .navbar .navside .side:nth-child(even){
        width: 100%;
        text-align: center;
        border-radius: 10px;
        margin-bottom: 1rem;
    
    }
    .menu .navbar .navside .side:hover:nth-child(even){
        width: 100%;
        text-align: center;
        border-radius: 10px;
        margin-bottom: 1rem;
    
    }
}

/* navbar section ends */
/* Hero page starts here*/

.hero .content{
    margin-left: 5rem;
}
.hero .content h1{
    color: white;
    font-size: 3rem;
    font-weight: 600;
}
.hero .content p{
    color: white;
    font-size: 1.05rem;
}
.hero .content .but li{
    display: inline;
    list-style: none;
}
.hero .content .but .side1 {
    background-color: white;
    padding: 1rem;
    border-radius: 40px;
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}
.hero .content .but .side1:hover {
    background-color: #15152e;
    padding: 1rem;
    border-radius: 40px;
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: white;
}
.hero .content .but .side2 {
    background-color: #15152e;
    padding: 1rem;
    border-radius: 40px;
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    color: white;
}
.hero .content .but .side2:hover {
    background-color: #626279;
    padding: 1rem;
    border-radius: 40px;
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(201, 194, 194);
}
.heroimg img{
    max-width: 80%;
    margin-left: 5rem;
    margin-right: auto;

}
/* Small devices (landscape phones, 576px and lower) */
@media (max-width: 576px) {  
    .hero .content{
        margin-left: 0.5rem;
        margin-bottom: 2rem;
    }
}
@media (max-width: 768px) {  
    .heroimg img{
        display: none;
        
    }
}
/* Hero page ends here*/
/* Action page starts here*/
.action{
    background-color: #15152e;
    padding: 4rem;
    border-radius:  0 0 1rem 1rem;
}
.action .actcont{
    margin-top: 5rem;
    color: white;
}
.action .actcont h5{
    font-size: 1rem;
    color: #6d5df9;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.action .actcont h1{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.action .actcont p{
    font-size: 1.05rem;
    margin-bottom: 4rem;
}
.action .card{
    display: flex;
    padding: 1rem;
    border-radius: 10px;
    margin: auto;
    width: 350px;    
}
.action .card .icon{
    background-color: #6d5df9;
    border-radius: 50%;
    text-align: center;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.05rem;
    color: white;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
}
.action .card h4{
   margin-bottom: 1.05rem;
   margin-left: 1rem;
   font-weight: 500;
}
.action .card p{
    color: black;
    margin-bottom: 0;
    margin-left: 1rem;
 }
 /* Small devices (landscape phones, 576px and lower) */
@media (max-width: 576px) { 
    .action .card{     
        margin: auto;
        width: 280px;
        margin-bottom: 0.5rem;
    }
}
@media (max-width: 768px) {
    .action .card{     
        margin: 0 0.5rem 0.5rem 0;
        width: 230px;
        margin-bottom: 0.5rem;
    }
}
@media (max-width: 1024px) {
    .action .card{
        margin: auto;
        width:280px;
        margin-bottom: 0.5rem;
    }
}
@media (max-width: 1440px) {
    .action .card{     
        margin: auto;
        width:350px;
        margin-bottom: 0.5rem;
    }
}
/* Action page ends here*/
/*Dev page starts here*/
.dev{
    background-color: white;
    margin-top: 6rem;
    margin-bottom: 6rem;
}
.dev .prosta{
    display: flex;
    margin-bottom: 4rem;
}
.dev .prosta .prof{
    text-align: right;
}
.dev .prosta .prof h1{
    color: rgb(7, 241, 163);
    font-size: 4rem;
    font-weight: 700;
}
.dev .prosta .startup h1{
    font-size: 3rem;
    font-weight: 520;
}
.dev .prosta .startup h1>span{
    color: rgb(156, 73, 211);
}
.dev .spe{
    margin-bottom: 3rem;
}
.dev .spe .speed h5{
    color: rgb(156, 73, 211);
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
.dev .spe .speed h1{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
.dev .spe .speed p{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.dev .spe .speed .speche{
    background-color: rgb(7, 241, 163);
    border-radius: 50%;
    text-align: center;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1rem;
    color: white;
    padding: 0.2rem;
    margin-bottom: 1.5rem;
    margin-right: 0.5rem;
}
.dev .spe .speimg img{
    margin-top: 2rem;
    max-width: 100%;
    margin-left: 5rem;
    margin-right: auto;
    box-shadow: -25px -25px 0px 0px rgb(156, 73, 211);
    border-radius: 20px;
}
.dev .cust .customize{
    margin-left: 0rem;
    }
.dev .cust .customize h5{
    color: rgb(156, 73, 211);
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
.dev .cust .customize h1{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
.dev .cust .customize p{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.dev .cust .customize .custche{
    background-color: rgb(7, 241, 163);
    border-radius: 50%;
    text-align: center;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1rem;
    color: white;
    padding: 0.2rem;
    margin-bottom: 1.5rem;
    margin-right: 0.5rem;
}
.dev .cust .custimg img{
    margin-top: 2rem;
    max-width: 90%;
    margin-left: 0rem;
    margin-right: auto;
    box-shadow: -25px -25px 0px 0px rgb(231, 171, 5);
    border-radius: 20px;
}
 /* Small devices (landscape phones, 576px and lower) */
 @media (max-width: 576px) { 
    .dev .prosta .prof{
        display: none;
    }
    .dev .cust .custimg img{
        margin-top: 2rem;
        max-width: 100%;
        margin-left: 1rem;
        margin-right: 0rem;
        box-shadow: -10px -10px 0px 0px rgb(231, 171, 5);
        border-radius: 10px;
    }
    .dev .cust{
        display: flex;
        flex-direction: column-reverse;
    }

}
@media (max-width: 768px) {
    .dev .prosta .prof{
        display: none;
    }
    .dev .spe .speimg img{
        margin-top: 2rem;
        max-width: 100%;
        margin-left: 1rem;
        margin-right: 0rem;
        box-shadow: -10px -10px 0px 0px rgb(156, 73, 211);
        border-radius: 10px;
    }
    .dev .cust .custimg img{
        margin-top: 2rem;
        max-width: 100%;
        margin-left: 1rem;
        margin-right: 0rem;
        box-shadow: -10px -10px 0px 0px rgb(231, 171, 5);
        border-radius: 10px;
    }
    .dev .cust{
        display: flex;
        flex-direction: column-reverse;
    }
}
@media (max-width: 1024px) {
    
}
@media (max-width: 1440px) {
    
}
/*Dev page ends here*/
/*Get Stared starts here*/
.started {
    background-color: none;
}
.started .get{
    background-color: rgb(19, 17, 17);
    padding: 8rem;
    text-align: center;
    border-radius: 20px;
    color: white;
}
.started .get .ready h1{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
.started .get .ready p{
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 3rem;
}
.started .get .ready a{
    background-color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.75rem 2rem;
    border-radius: 10;
    
}
.started .get .ready a:hover{
    background-color: rgb(156, 73, 211);
    font-size: 1rem;
    font-weight: 600;
    padding: 0.75rem 2rem;
    border-radius: 10;
    
}
/* Small devices (landscape phones, 576px and lower) */
@media (max-width: 576px) { 
    .started .get .ready h1{
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 1.5rem;
    }
    .started .get .ready p{
        font-size: 1.25rem;
        font-weight: 300;
        margin-bottom: 3rem;
    }
    .started .get .ready a{
        background-color: white;
        font-size: 1rem;
        font-weight: 600;
        padding: 0.75rem 2rem;
        border-radius: 10;
        
    }
    .started .get .ready a:hover{
        background-color: rgb(156, 73, 211);
        font-size: 1rem;
        font-weight: 600;
        padding: 0.75rem 2rem;
        border-radius: 10;
        
    }
}
/*Get Stared ends here*/
/*Footer starts here*/
.footer{
    background-color: white;
    margin-top: 6rem;
}
.footer .project h4{
    margin-bottom: 0.5rem;
}
.footer .project .mailto{
    color: rgb(156, 73, 211);
    text-decoration: none;
    font-size: 1.5rem;
}
.footer .btt .btn{
    background-color: black;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.75rem 2rem;
    border-radius: 10;
    color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.footer .btt .btn:hover{
    background-color: rgb(43, 38, 46);
    font-size: 1rem;
    font-weight: 600;
    padding: 0.75rem 2rem;
    border-radius: 10;
    color: white;
}
.footer .icons .icon{
    font-size: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
}
/*Footer ends here*/